<ul class="nav bg-light py-3 justify-content-center ">
    <li class="nav-item mx-5"><a href="/" class="nav-link text-dark fw-bold">Home</a></li>
    <li class="nav-item mx-5"><a href="/login" class="nav-link text-dark fw-bold">Login</a></li>
</ul>