<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("Link.ejs") -%>
<body class="bg-dark">
    <h1 class="text-center text-light mt-5">Welcome to Dashboard</h1>

   <div class="text-center my-5">
    <a href="/logout"><button class="btn btn-danger">Logout</button></a>
   </div>
    
</body>
</html>